{% extends "FOSUserBundle::layout.html.twig" %}



{% block stylesheets %}        <link rel="stylesheet" href="/css/login.css" href="/css/login.css" type="text/css">
{% endblock %}
 {% block body %}
   <div class="trasparente">


    <p class="click">Registrati!</p>


    {% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

</div>
 {% endblock %}


