{% extends "::baseadmin.html.twig" %}

{% block title %}Edit Gelateria{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet"  href="/css/unico.css" type="text/css">
{% endblock %}

{% block body %}

      <div id="boximgadmin">

<div id="larghezzaadmin">
  <div id="sidebaradmin" class="sidebar1admin">
  <br/>
  <form  method="GET">
    <div class="lineaunoformadmin">
      <p class="benvenutoadmin">Reportistica:</p> 
      <p>Seleziona Gusto:</p>
      <input class="inputaltoadmin" type="text" name="Gusto" value="Nome Gusto">
      <br/>
      <p>Seleziona Città:</p>
      <input class="inputaltoadmin" type="text" name="Comune" value="Nome Città">
      <input class="bottoneadmin" type="submit" value="Ricerca" />
    </div>
  </form>

  <form class="aggiungiadmin" method="GET">
    <div class="lineadueformadmin">
    <p class="benvenutoadmin">Aggiungi - Modifica</p>   
    <p>Gelateria:</p>
    <input class="inputaltoadmin" type="text" name="Nuova gelateria" value="Nome gelateria">
    <p>Gusto:</p>
    <input class="inputaltoadmin" type="text" name="Aggiungi gusto" value="Nome gusto">
    <input class="bottoneadmin" type="submit" value="Invia" />
  </form>
</div>
</div>
    
    <div id="gelateriaadmin">
      

          <form method="GET">         
      <div id="descrizioneadmin">
       <label for=”Nomeutente″>Nome gelateria:<br></label>
      <input class="nomegelateriaadmin" name="Nomeutente" type="text" value="Gelateria Giolitti" size="40" maxlength="200" />
              <br/>


        <fieldset>
        <label class="labelimmagineadmin">Scegli immagine:</label><br><br>
            <label for="1"><img class="gelatinoadmin" src="/img/gelatino1.png"></label>
            <input id="1"  type="radio" name="imglogogel" value="1"/>

            <label for="2"><img class="gelatinoadmin" src="/img/gelatino2.png"></label>
            <input id="2"  type="radio" name="imglogogel" value="2"/>

            <label for="3"><img class="gelatinoadmin" src="/img/gelatino3.png"></label>
            <input id="3"  type="radio" name="imglogogel" value="3"/>

            <label for="4"><img class="gelatinoadmin" src="/img/gelatino4.png"></label>
            <input id="4"  type="radio" name="imglogogel" value="4"/>

            <label for="5"><img class="gelatinoadmin" src="/img/gelatino5.png"></label>
            <input id="5"  type="radio" name="imglogogel" value="5"/>

            <label for="6"><img class="gelatinoadmin" src="/img/gelatino6.png"></label>
            <input id="6" type="radio" name="imglogogel" value="6"/>
        

    </fieldset>

     
      <label for=”indirizzo″>Indirizzo:<br></label>
      <input class="indirizzoadmin" name="indirizzo" type="text" value="Via Uffici del Vicario, 40 " size="40" maxlength="200" />
        <br/>

      <label for=”indirizzo″>Città:<br></label>
      <input class="indirizzoadmin" name="città" type="text" value="Roma " size="40" maxlength="200" />
        <br/>

      <label for=”phone″>Tel:<br></label>
      <input class="indirizzoadmin" name="phone" type="text" value="+39 06 699 12 43" size="40" maxlength="200" />
       <br/>
       <br/>

      <fieldset>
        <label class="labelimmagineadmin"><p class="gustidisponibili">Seleziona i gusti disponibili in gelateria:</p>
</label>
        <br/>

            <input id="Cioccolatoadmin"  type="checkbox" name="gusto" value="Cioccolato"/>
            <label for="Cioccolato">Cioccolato</label>
          
            <input id="Pistacchioadmin"  type="checkbox" name="gusto" value="Pistacchio"/>
            <label for="Pistacchio">Pistacchio</label>
            
            <input id="Amarenaadmin"  type="checkbox" name="gusto" value="Amarena"/>
            <label for="Amarena">Amarena</label>

            <input id="Tiramisuadmin"  type="checkbox" name="gusto" value="Tiramisu"/>
            <label for="Tiramisu">Tiramisu</label>

            <input id="Meloneadmin"  type="checkbox" name="gusto" value="Melone"/>
            <label for="Melone">Melone</label>

            <input id="Cremaadmin"  type="checkbox" name="gusto" value="Crema"/>
            <label for="Crema">Crema</label>
            </fieldset>
                   <br/>


        <input class="bottoneadmin" type="submit" value="Salva" />
        <form action="GET">
      <input class="bottoneadmin" type="submit" value="Cancella" />
      </form>

       </form>
        </div>
    </div>   
        </div> 
</div>    
{% endblock %}