{% extends "::base.html.twig" %}

{% block title %}Edit Gusto{% endblock %}
{% block stylesheets %}        <link rel="stylesheet" href="/css/unico.css"  type="text/css">{% endblock %}


{% block body %}


    
    <div id="gelateriaadmin">
      

      <div id="descrizioneadmin">
          <form method="GET">  
          <p class="titolomodificagustoadmin">Aggiungi gusto:</p> 

          <input class="inputaltoadmin" type="text" name="Aggiungi gusto" value="Nome gusto">
                  <br/>

       <input class="bottoneadmin" type="submit" value="Aggiungi" />

      </form>       
                        <br/>
                  <br/>


      <p class="titolomodificagustoadmin">Elimina gusto:</p> 
        <form action="GET">
        <select id="gusto1admin" class="formgustiadmin" name="gusto1">
          <option value="Cioccolato">Cioccolato</option>
          <option value="Pistacchio">Pistacchio</option>
          <option value="Crema">Crema</option>
          <option value="Vaniglia">Vaniglia</option>
        </select>
        <br/>
      <input class="bottoneadmin" type="submit" value="Cancella" />
      </form>

       </form>
        </div>
    </div>    
  </div>


{% endblock %}
