{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}        <link rel="stylesheet" href="/css/unico.css" href="/css/login.css" type="text/css">
{% endblock %}


{% block body  %}
   <div class="trasparente">
     <p class="click">Pirla!</p>
    <p class="istruzioni">Inserisci il tuo nome utente e la tua mail per ricevere una nuova password tramite e-mail!</p>
    <br/>
    <br/>


{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
</div>
{%  endblock  body  %} 
