{% extends "::basehome.html.twig" %}
{% block body %}
<title>Gelatò - Come funziona</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" type="image/png"/>
<link rel="stylesheet" href="/css/comefunziona.css" type="text/css">
<div class="trasparente">
    <p class="click">Il miglior gelato a portata di click!</p>
    <p class="istruzioni">Scegli le migliori gelaterie per gusto, città o giorno di apertura <br/> e condividi con i tuoi amici le tue gelaterie preferite!</p>
  </div>
  <div class="mockup"><img id="mockupid" src="/img/mockup.png" alt="Mockup"></div>
{% endblock %}