{% extends "::basehome.html.twig" %}
{% block body %}
<title>Gelatò - Come funziona</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" type="image/png"/>
<link rel="stylesheet" href="/css/unico.css" type="text/css">
 <div id="boximgcf">
<div class="trasparentecf">
    <p class="clickcf">Il miglior gelato a portata di click!</p>
    <p class="istruzionicf">Scegli le migliori gelaterie per gusto, città o giorno di apertura <br/> e condividi con i tuoi amici le tue gelaterie preferite!</p>
  </div>
  <div class="mockupcf"><img id="mockupidcf" src="/img/mockup.png" alt="Mockup"></div>
  </div>
{% endblock %}