{% extends "::basehome.html.twig" %}
{% block body %}
<title>Gelatò</title>
<main id="boximghome">
  <div class="trasparentehome">
        <form class='formhome' method="GET">
            
            <h2>Trova la tua gelateria!</h2>
            <p>Seleziona i tuoi gusti preferiti oppure scegli il comune o il giorno in cui vorresti andare a rinfrescare la tua giornata!</p>
 
            <div class="lineaunoformhome">
                
                <select id="gusto1home" class="formgustihome" name="gusto1">
                    <option value="Cioccolato">Cioccolato</option>
                    <option value="Pistacchio">Pistacchio</option>
                    <option value="Crema">Crema</option>
                    <option value="Vaniglia">Vaniglia</option>
                </select>
                <select id="gusto2home"  class="formgustihome" name="gusto2">
                    <option value="Cioccolato">Cioccolato</option>
                    <option value="Pistacchio">Pistacchio</option>
                    <option value="Crema">Crema</option>
                    <option value="Vaniglia">Vaniglia</option>
                </select>
                <select id="gusto3home" class="formgustihome" name="gusto3">
                    <option value="Cioccolato">Cioccolato</option>
                    <option value="Pistacchio">Pistacchio</option>
                    <option value="Crema">Crema</option>
                    <option value="Vaniglia">Vaniglia</option>
                </select>
            </div>
            
            <div class="lineadueformhome">
                <input type="text" class="formgustihome" name="Comune" value="Comune">
            
                <select id="giornihome"  class="formgustihome" name="aperture">
                    <option value="Lun">Lunedì</option>
                    <option value="Mart">Martedì</option>
                    <option value="Merc">Mercoledì</option>
                    <option value="Giov">Giovedì</option>
                </select>
            </div>
            <br/>
            <div style="text-align:center;">
             <input type="submit" class="bottonehome" value="Ricerca" />
         </div>
    
 </form>
</div>
</main>
{% endblock %}