{% extends "::base.html.twig" %}
{% block stylesheets %}        <link rel="stylesheet" href="/css/gelateria.css" href="/css/gelateria.css" type="text/css">
{% endblock %}
 {% block body %}

   <div id="gelateria">
      <div id="idgelatino"><img class="gelatino" src="/img/gelatino3.png"></div>
      <div id="descrizione">
        <p class="nomegelateria">Gelateria Giolitti</p>       
        <p class="indirizzo">Via Uffici del Vicario, 40 - 00186 Roma <br/> Tel: +39 06 699 12 43</p>
        <br/>
        <p class="istruzioni">L'idea è di applicare alla produzione del gelato un principio comune a tutti i migliori ristoranti del mondo: l'acquisto di materie prime di qualità assoluta. <br/>È con questo obiettivo che dal 2002 viaggiamo alla ricerca del meglio che il mondo dell’agricoltura può offrire, seguendo semplici ma rigorosi principi: solo frutta fresca, proveniente dai migliori consorzi d’Italia e dalla nostra azienda agricola Mura Mura®; nessun utilizzo di coloranti, aromi, conservanti o emulsionanti.
        Giolitti è anche gelato artigianale. Fresco di stagione e sempre pronto in comode porzioni da gustare a casa. Lo trovi in ciotole da 500 g. o monoporzioni.</p><br/>
        <div id="preferiti">
          <a href="#"><img class="icona1" src="/img/shapes.png"></a>
          <p class="preferiti">Aggiungi alla lista dei preferiti</p>
        </div>
        <div id="preferiti">
          <a href="#"><img class="icona2" src="/img/email.png"></a>
          <p class="preferiti"><a href="/mail.html"> Invita i tuoi amici per un gelato!</a></p><br/>
        </div>
        <br/>
        <p class="gustidisponibili">Guarda tutti i gusti disponibili!</p>
        <div class="gusti">
        <div class="elencogusti">
          <p>Cioccolato</p>
          <p>Pistacchio</p>
          <p>Amarena</p>
          <p>Cioccolato</p>
          <p>Crema</p>
        </div>
      </div>
      
      </div>
    </div>
  </div>


{% endblock %}
