{% extends "::baseuser.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/unico.css"  type="text/css">
{% endblock %}

{% block body %}
  <div id="gelateriaiu">
    <div id="idgelatinoiu">
      <img class="gelatinoiu" src="/img/gelatino3.png">
    </div>
    <div id="descrizioneiu">

      <form method="GET">
        <label for=”Nomeutente″>Nome utente:<br></label>
        <input class="nomegelateriaiu" name="Nomeutente" type="text" value="Beatrice" size="40" maxlength="200" />
        <br/>

        <label for=”mail″>E-mail:<br></label>
        <input class="indirizzoiu" name="mail" type="text" value="beatrice.castaldo@gmail.com" size="40" maxlength="200" />
        <br/>

        <label for=”PSW″>Password:<br></label>
        <input class="indirizzoiu" name="PSW" type="password" value="MilanoCapitale!" size="40" maxlength="200" />
        <br/>

        <label for=”PSW2″>Conferma Password:<br></label>
        <input class="indirizzoiu" name="PSW2" type="password" value="MilanoCapitale!" size="40" maxlength="200" />
        <br/>

        <input class="bottone" type="submit" value="Salva" />
      </form>
      <br/>
      <p class="gustidisponibiliiu">Lista delle gelaterie preferite <a href="#"><img class="icona1iu" src="/img/shapes.png"></a>
      </p>
      <div class="gustiiu">
        <div class="elencogustiiu">
          <p>Gelateria Giolitti <a href="#"><img class="icona1iu" src="/img/cestino.png"></a> </p>
          <p>Gelateria Santa <a href="#"><img class="icona1iu" src="/img/cestino.png"></a></p>
          <p>Gelateria Castaldo <a href="#"><img class="icona1iu" src="/img/cestino.png"></a></p>
          <p>Gelateria Tundra  <a href="#"><img class="icona1iu" src="/img/cestino.png"></a></p>
          <p>Gelateria Sir Oliver <a href="#"><img class="icona1iu" src="/img/cestino.png"></a></p>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}
