{% extends "::baseuser.html.twig" %}

{% block stylesheets %}        <link rel="stylesheet" href="/css/login.css" href="/css/login.css" type="text/css">
{% endblock %}
 {% block body %}
  <div class="trasparente">
    <p class="click">Bentornato!</p>
    <p class="istruzioni">Inserisci qui le tue informazioni personali per accedere a tutte le funzionalità del sito!</p>
    <br/><br/>
    <div id="formid">
      <form action="GET">
        <label class="nomeutente" for="nomeutente">nome utente</label><br/>
        <input type="text" name="nomeutente"/>
        <br/><br/>
        <label class="mail" for="mail">email</label><br/>
        <input type="mail"  name="mail"/>
        <br/><br/>
        <label class="password" for="password">password</label><br/>
        <input class="password" type="password" name="password"/>
        <br/><br/><br/>
        <input class="bottone" type="submit" value="entra"/>
      </form>
    </div>
  </div>



  <div class="gelatini"><img id="gelatinoid" src="/img/gelatino2.png" alt="Gelatino">  
  <p class="registrati"> Non hai un account? <a href="/app_dev.php/Userregistrati">Registrati</a>
 </p>
  <p class="passwordimenticata">Hai smarrito la tua Password? <a href="/app_dev.php/Userpswdimenticata">Clicca qui</a></p>

</div>

 {% endblock %}
