{% extends "::baseadmin.html.twig" %}

{% block title %}Reportistica{% endblock %}
{% block stylesheets %}        <link rel="stylesheet" href="/css/unico.css" href="/css/unico.css" type="text/css">
{% endblock %}

{% block body %}
      <div id="boximgadmin">

 <div id="larghezzaadmin">
    <div id="sidebaradmin" class="sidebar1admin">
      <br/>
      <form  method="GET">

        <div class="lineaunoformadmin">
        <p class="benvenutoadmin">Reportistica:</p> 
        <p>Seleziona Gusto:</p>
        <input class="inputaltoadmin" type="text" name="Gusto" value="Nome Gusto">
      <br/>
      <p>Seleziona Città:</p>
        <input class="inputaltoadmin" type="text" name="Comune" value="Nome Città">

      <input class="bottoneadmin" type="submit" value="Ricerca" />
        </div>

      </form>


      <form class="aggiungiadmin" method="GET">
      <div class="lineadueformadmin">
      <p class="benvenutoadmin">Aggiungi - Modifica</p>   
        <p>Gelateria:</p>
              <input class="inputaltoadmin" type="text" name="Nuova gelateria" value="Nome gelateria">
         <p>Gusto:</p>      

      <input class="inputaltoadmin" type="text" name="Aggiungi gusto" value="Nome gusto">
       <input class="bottoneadmin" type="submit" value="Invia" />

      </form>
      </div>

    </div>
    
    <div id="gelateriaadmin">
      

      <div id="descrizioneadmin">
        <p class="nomegelateria">Reportistica $parametro</p>       
        <p class="indirizzo">Invia reportistica via mail >> <br/></p>
        <br/>
       <img class="grafico" src="/img/Grafico_3.jpg"></p><br/>
     
        <br/>
       

      </div>
    </div>
</div>
</div>



{% endblock %}
